/* Обнуляющий стиль */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
/* Скрыто подчёркивание для ссылок, которое по умолчанию присудствувует */
a:hover {
	text-decoration: none;
}
/* Включили принудительное наследование заголовкам font-wieght i font-size*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/*  */
body,
html{
	height: 100%;
}

/* ================================================================ */
