/*&display=swap*/
@import url(null.css);

@font-face {
	font-family: CircularStd;
	src: url(../fonts/CircularStd-Medium.woff2), url(../fonts/CircularStd-Medium.woff);
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url(../fonts/CircularStd-Bold.woff2), url(../fonts/CircularStd-Bold.woff);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url(../fonts/CircularStd-Black.woff2), url(../fonts/CircularStd-Black.woff);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
body{
	font-family: "CircularStd";
}
/* По макету этот раздел не поцентру, или я что-то здвинул, проверять конечно же я это не буду)), 
сделаю как должно быть , а должно быть по центру.  */
div.container-max{
	max-width: 1025px;
	margin: 140px auto 0 auto;
}
.header.title h1{
	font-size: 65px;
	line-height: 82px;
	color: #313131;
	text-transform: capitalize;
	text-align: center;
	margin: 0 0 20px 0;
}
p.main.text {
	font-size: 20px;
	line-height: 25px;
	color: #5F5F5F;
	text-align: center;
	max-width: 750px;
	margin: 0 auto 224px auto;
}
.main.feedback-subtitle h2{
	font-weight: 700;
	font-size: 34px;
	line-height: 1.29;
	color: #313131;
	margin-bottom: 20px;
}
p.main.feedback-paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.39 ;
	color: #5F5F5F;
	max-width: 508px;
	margin-bottom: 125px;
}
.feedback-job{
	margin-bottom: 5px;
}
.feedback-name span{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.28;
	color: #313131;
	
}
.feedback-job {
	margin-bottom: 100px;
}
span{
	font-weight: 400;
	font-size: 18px;
	line-height: 1.28;
	color: #B8B8B8;
}
img{
	width: 401px;
	height: 674px;
}
